<div class="container">
    <h3 class="mb-3">Recent Activity</h3>
    {% for message in room_messages|slice:":8" %}
        <div class="card mb-2 activity_div">
            <div class="card-body">
                <small><a class="card-link" href="{% url "user-profile" message.user.id %}">@{{message.user}}</a>  {{message.created|timesince}}</small>
                <br>
                <small class="text-muted">
                    replied to "{{message.room}}"
                </small>
                <p class="card-text">{{message}}</p>
            </div>
        </div>
    {% endfor %}
</div>

<style>
    .activity_div {
        background-color: #31363b;
        color: #ffffff;
    }
</style>